﻿@model Task2.Models.AssignManagerVM
@{
    ViewBag.Title = "MannagerAssignToUser";
}
<h2>MannagerAssignToUser</h2>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/bootstrap/js/bootstrap.min.js"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div>
        @ViewBag.ResultMessage
    </div>
    <fieldset>
        <legend>AssignManagerVM</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManagerId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.ManagerId, new SelectList(Model.ManagerList, "Value", "Text"),
new { style = "width:200px", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ManagerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.UserID, new SelectList(Model.Userlist, "Value", "Text"),
new { style = "width:200px", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserID)
        </div>
        <br />
        <p>
            <input type="submit" value="Assign" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", "home")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}